@model WebApplicationVentixe.Models.Invoice.InvoiceDetailsViewModel

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="mb-0">Invoice Details</h4>

            <div>
                <button class="btn me-2">
                    <i class="bi bi-download"></i> Download
                </button>   
            </div>
        </div>



        <div class="row mb-4">
            <div class="col-md-6">
                <h3>#@Model.InvoiceNumber</h3>
                <strong>@Model.StatusName</strong>
            </div>

            <div class="col-md-6 text-md-end">
                <p><strong>Issued Date:</strong>@Model.StartDate.ToString("yyyy-MM-dd HH:mm")</p>
                <p><strong>Due Date:</strong>@Model.EndDate.ToString("yyyy-MM-dd HH:mm")</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <small class="text-muted">Bill from</small>
                <address class="mt-1">
                    <p class="mb-1">@Model.CompanyName</p>
                    <p class="mb-1">@Model.CompanyAddress</p>
                    <p class="mb-1">@Model.CompanyPhone</p>
                    <p>@Model.CompanyEmail</p>
                </address>
            </div>

            <div class="col-md-6 text-end">
                <small class="text-muted">Bill to</small>
                <address class="mt-1">
                    <p class="mb-1">@Model.UserName</p>
                    <p class="mb-1">@Model.UserAddress</p>
                    <p class="mb-1">@Model.UserPhone</p>
                    <p>@Model.UserEmail</p>
                </address>
            </div>  
        </div>

        <section>
            <h6 class="mb-3">
                Ticket Details
            </h6>                    

            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Ticket Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>

                <tbody>                        
                        <tr>
                        <td>@Model.TicketCategory</td>
                        <td>@Model.TicketPrice</td>
                        <td>@Model.TicketCount</td>
                        <td>@(Model.TicketCount * Model.TicketPrice)</td>
                    </tr>                   
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="d-flex justify-content-end gap-2 mt-3">
    <button class="btn">
        <i class="bi bi-pencil-square me-1"></i> Edit Invoice
    </button>

    <button class="btn">
        <i class="bi bi-send-fill me-1"></i> Send Invoice
    </button>

    <button class="btn">
        <i class="bi bi-patch-exclamation-fill me-1"></i> Hold Invoice
    </button>
</div>

