@model WebApplicationVentixe.Models.Invoice.InvoiceDetailsViewModel

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="mb-0">Invoice Details</h4>

            <div>
                <button class="btn-primary me-2">
                    <i class="bi bi-download"></i> Download
                </button>
                <button class="btn-primary me-1">
                    <i class="bi bi-arrow-left-short"></i>
                </button>
                <button class="btn-primary">
                    <i class="bi bi-arrow-right-short"></i>
                </button>
            </div>
        </div>



        <div class="row mb-4">
            <div class="col-md-6">
                <h3>#@Model.InvoiceNumber</h3>
                <strong>@Model.StatusName</strong>
            </div>

            <div class="col-md-6 text-md-end">
                <p><strong>Issued Date:</strong>@Model.StartDate</p>
                <p><strong>Due Date:</strong>@Model.EndDate</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <div>
                    <small class="text-muted">Bill from</small>
                </div>
                <address class="mt-1">
                    <p class="mb-1">@Model.CompanyName</p>
                    <p class="mb-1">@Model.CompanyAddress</p>
                    <p class="mb-1">@Model.CompanyPhone</p>
                    <p>@Model.CompanyEmail</p>
                </address>
            </div>

            <div class="col-md-6 text-end">
                <small class="text-muted">Bill to</small>
                <address class="mt-1">
                    <p class="mb-1">@Model.UserName</p>
                    <p class="mb-1">@Model.UserAddress</p>
                    <p class="mb-1">@Model.UserPhone</p>
                    <p>@Model.UserEmail</p>
                </address>
            </div>
        </div>

        <section>
            <h6 class="mb-3">
                Ticket Details
            </h6>                    

            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Ticket Category</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>                        
                        <tr>
                        <td>@Model.TicketCategory</td>
                        <td>@Model.TicketPrice</td>
                        <td>@Model.TicketCount</td>
                        <td>@(Model.TicketCount * Model.TicketPrice)</td>
                    </tr>                   
                </tbody>
            </table>
        </section>
    </div>
</div>