@model List<WebApplicationVentixe.Models.Events.EventsViewModel>



<div>

    <div class="event-spacing">
        <div class="event-button">
            
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEventModal">Add Event</button>
        </div>
        

        <div class="events-area">
            @foreach (var eventModel in Model)
            {
                <div class="card event-card">
                <img src="~/Images/ventixevent.jpg" class="card-img-top" alt="A ventixe event">
                    <div class="card-body event-card-body">
                    <h5 class="card-title">@eventModel.EventName</h5>
                    <p class="card-text">@eventModel.EventDescription</p>
                        <div class="card-text">
                        <p class="card-text">@eventModel.EventLocation</p>
                        <p class="card-text">@eventModel.EventDate.ToString("yyyy-MM-dd")</p>
                    @* AI KNAPP *@
                            <div class="card-button">
                    <a href="@Url.Action("EventDetails", "Event", new { id = eventModel.Id })" class="btn btn-primary">Mer info</a>
                    </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/Partials/EventPartials/_AddEventModal.cshtml", new WebApplicationVentixe.Models.Events.AddEventFormData())